{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <img class="rounded-circle account-img mx-auto d-block" src="{{ user.profile.image.url}}"
                alt="profile picture">
            <div class="heading">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}