{% extends "base.html" %}
{% block title %}
Posts
{% endblock %}
{% block extra_css %}
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
{% endblock %}
{% block content %}
<header class="masthead" style="background-image:url('assets/img/home-bg.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 mx-auto position-relative">
				<div class="site-heading">
					<h1>Recent Posts</h1><span class="subheading">I document what I learn</span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="container">
	{% for post in posts %}
	<div class="post-preview">
		<a href="{% url "post-detail" post.pk %}" style="text-decoration:none">
			<h2 class="post-title">{{ post.title }}</h2>
		</a>
		<p class="post-meta">
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"
				alt="profile picture">Posted
			by&nbsp;<a href="#">{{ post.author }}</a>&nbsp;on
			{{ post.created|date:"F d, Y" }},
		</p>
	</div>
	<hr>
	{% comment %} <article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ post.author }}</a>
				<small class="text-muted">{{ post.created|date:"F d, Y"  }}</small>
			</div>
			<h2><a class="article-title" href="{% url "post-detail" post.pk %}">{{ post.title }}</a>
			</h2>
			<p class="article-content">{{ post.body|safe }}</p>
		</div>
	</article> {% endcomment %}
	{% endfor %}
	{% if is_paginated %}

	{% if page_obj.has_previous %}
	<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
	{% if page_obj.number == num %}
	<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
	{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
	<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}

	{% endif %}
</div>

{% endblock %}