{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% if post.title %}
Update {{ post.title }}
{% else %}
Create post
{% endif %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Blog Post</legend>
			{{form.media}}
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<a class=" btn btn-secondary" href=" {{ request.META.HTTP_REFERER }}">back </a>
			<button class="btn btn-outline-info" type="submit">Post</button>
		</div>
	</form>
</div>
{% else %}
You are not allowed here
{% endif %}

{% endblock %}